.confirm {
    &-form {
        background: $color-main;
        padding: 50px;
        margin-bottom: 50px;
        border-radius: 4px;
    }
    &-ttl {
        font-size: 20px;
        margin-bottom: 30px;
    }
    &-txt {
        margin: 50px 0;
    }
    &-list {
        margin-bottom: 80px;
    }
    &-dttl {
        display: inline-block;
        padding: 0.5em 1em 0.5em 0;
        border-top: 1px solid $color-text-thin;
        border-bottom: 1px solid $color-text-thin;
        color: $color-text-thin;
        margin-bottom: 15px;
    }
    &-item {
        &:not(:last-of-type) {
            margin-bottom: 40px;
        }
    }
}
