.detail {
    padding: 60px 0;
    &-list {
        display: flex;
        margin-bottom: 60px;
    }
    &-item {
        width: calc((100% - 64px) / 3);
        background: $color-main;
        padding: 40px;
        border-radius: 5px;
        &:not(:nth-child(3n)) {
            margin-right: 32px;
            @include mq(sp) {
                margin-right: 0;
            }
        }
    }
    &-topic {
        &-ttl {
            color: $color-text-thin;
            margin-bottom: 15px;
        }
        &-data {
            margin-bottom: 50px;
        }
    }
    &-objection {
        &-item {
            word-wrap: break-word;
            &:not(:last-of-type) {
                margin-bottom: 12px;
            }
            span {
                line-height: 1.5;
            }
        }
    }
    &-form {
        margin-bottom: 24px;
    }
    &-textarea {
        line-height: 1.5;
        background: $color-white;
        height: 150px;
        width: 100%;
        padding: 16px;
        margin-bottom: 20px;
        border-radius: 4px;
        box-shadow: 0 0 0 1px #ccc inset;
        resize: none;
        &:focus {
            outline: 0;
            box-shadow: 0 0 0 2px $color-accent inset;
        }
    }
    &-opinion {
        background: $color-main;
        padding: 40px;
        width: 100%;
        border-radius: 5px;
        margin-bottom: 40px;
        &-ttl {
            color: $color-text-thin;
            margin-bottom: 20px;
        }
        &-data {
            margin-bottom: 20px;
        }
    }
}

.delete-icon {
    img {
        width: 17px;
        vertical-align: middle;
    }
}
