.home {
    padding: 60px 0;
    &-ttl {
        font-size: 24px;
        margin-bottom: 25px;
    }
    &-list {
        margin-bottom: 30px;
    }
    &-item {
        &:not(:last-of-type) {
            margin-bottom: 30px;
        }
        a {
            background: $color-main;
            border-radius: 5px;
            display: flex;
            padding: 20px;
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.12),
                0 2px 3px 0 rgba(0, 0, 0, 0.22);
            transition: 0.3s;
            &:hover {
                box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15),
                    0 0 5px rgba(0, 0, 0, 0.1);
                transform: translateY(-4px);
            }
        }
        &-label {
            margin-right: 20px;
        }
        &-ttl {
            margin-right: 20px;
        }
        &-body {
            margin-right: 20px;
        }
        &-position {
            margin-right: 20px;
        }
    }
}

.pagination {
    display: flex;
    justify-content: center;
    &-item {
        &:not(:last-of-type) {
            margin-right: 30px;
        }
    }
}
