.msg-info {
    width: fit-content;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid $color-text;
    color: $color-text;
}
.msg-error {
    // display: inline-block;
    width: fit-content;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid $color-accent;
    color: $color-accent;
}
