.objection {
    &-ttl {
        font-size: 20px;
        margin-bottom: 16px;
    }
    &-list {
        margin-bottom: 24px;
    }
    &-item {
        &:not(:last-of-type) {
            margin-bottom: 12px;
        }
        label {
            display: flex;
            align-items: flex-start;
            word-break: break-all;
        }
    }
    &-delete {
        width: 20px;
        margin: 5px 5px 0 0;
    }
    &-txt {
        display: inline-block;
        line-height: 1.5;
    }
    &-form {
        margin-bottom: 30px;
    }
    &-textarea {
        height: 150px;
        margin-bottom: 20px;
    }
}
