.objection {
    &-ttl {
        font-size: 20px;
        margin-bottom: 16px;
    }
    &-list {
        margin-bottom: 24px;
    }
    &-item {
        padding-bottom: 16px;
        border-bottom: 1px solid #ccc;
        &:not(:last-of-type) {
            margin-bottom: 16px;
        }
    }
    &-edit {
        width: 1em;
        margin: 0 0.5em 0 1.3em;
        img {
            vertical-align: top;
        }
    }
    &-delete {
        width: 1em;
        img {
            vertical-align: top;
        }
    }
    &-txt {
        // display: inline;
        line-height: 1.5;
        margin-right: 8px;
        &-wrapper {
            padding-left: 1.3em;
            text-indent: -1.3em;
            margin-bottom: 0.5em;
        }
    }
    &-form {
        margin-bottom: 30px;
    }
    &-textarea {
        height: 150px;
        margin-bottom: 20px;
    }
}
