.opinion {
    &-form {
        background: $color-main;
        padding: 50px;
        margin-bottom: 50px;
        border-radius: 4px;
    }
    &-ttl {
        font-size: 20px;
        margin-bottom: 30px;
    }
    &-list {
        margin-bottom: 60px;
    }
    &-dttl {
        margin-bottom: 10px;
    }
    &-item {
        &:not(:last-of-type) {
            margin-bottom: 30px;
        }
    }
    &-input {
        height: 2.4em;
    }
    &-textarea {
        height: 200px;
    }
}
