.topic {
    &-form {
        background: $color-main;
        padding: 50px;
        margin-bottom: 50px;
        border-radius: 4px;
    }
    &-ttl {
        font-size: 20px;
        margin-bottom: 30px;
    }
    &-txt {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 50px 0;
    }
    &-list {
        margin-bottom: 60px;
    }
    &-dttl {
        margin-bottom: 10px;
    }
    &-item {
        &:not(:last-of-type) {
            margin-bottom: 30px;
        }
        .invalid-feedback {
            color: $color-accent;
        }
    }
    &-input {
        background: $color-white;
        height: 2.4em;
        width: 100%;
        padding: 0 16px;
        border-radius: 4px;
        box-shadow: 0 0 0 1px #ccc inset;
        &:focus {
            outline: 0;
            box-shadow: 0 0 0 2px $color-accent inset;
        }
    }
    &-textarea {
        background: $color-white;
        line-height: 1.5;
        height: 200px;
        width: 100%;
        padding: 16px;
        border-radius: 4px;
        box-shadow: 0 0 0 1px #ccc inset;
        resize: none;
        &:focus {
            outline: 0;
            box-shadow: 0 0 0 2px $color-accent inset;
        }
    }
}
