.topic {
    padding: 60px 0;
    &-ttl {
        font-size: 24px;
        margin-bottom: 25px;
    }
    &-item {
        background: $color-white;
        border-radius: 20px;
        &:not(:last-of-type) {
            margin-bottom: 30px;
        }
        a {
            display: flex;
            width: 100%;
            padding: 20px;
        }
        &-label {
            margin-right: 20px;
        }
        &-ttl {
            margin-right: 20px;
        }
        &-body {
            margin-right: 20px;
        }
        &-position {
            margin-right: 20px;
        }
    }
}
