body {
    font-family: "futura-pt", "fot-tsukuardgothic-std", sans-serif;
    background: $color-base;
    position: relative;
    .wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    main {
        position: relative;
        z-index: 2;
    }
}
img {
    width: 100%;
    vertical-align: bottom;
}
a {
    display: inline-block;
    color: $color-text;
}
p {
    color: $color-text;
}
